body
{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    background-size: cover;
    color: rgb(245, 235, 235);
}
#d0
{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}
#tower_1, #tower_2, #tower_3
{
    border-style: dashed;
    border-radius: 3%;
    border-color: rgb(212, 167, 42);
    width: 21.1%;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#red_disk
{
    background-color: rgb(216, 22, 22);
    border-style: solid;
    border-color: black;
    width: 292px;
    text-align: center;
}
#green_disk
{
    background-color: green;
    width: 220px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#purple_disk
{
    background-color: purple;
    width: 150px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#blue_disk
{
    background-color: blue;
    width: 80px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
